.bg-video {
    display: inline-block;
    width: 1920;
    height: 1080;
    background: url('assets/StartingPosterFrame.jpg');
}

.bg-video iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
    transform: translateX(-50%) translateY(-50%);
}

.bg-video-controls {
    position: fixed;
    top: 90%;
    right: 1%;
    width: 75px;
    height: 75px;
    padding: 0px;
    z-index: 100;
}

.bg-video-controls img {
    display: block;
    margin: auto;
}